#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*     min-height: 100vh; */
}

.scrollable-content {
    max-height: 70vh;  
    max-width: 80vw;
    overflow-y: auto;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* New Styles for About Us Page */
header {
    width: 100%;
    padding: .5em;
    color: #ff4500;
    text-align: center;
    font-size: .9em;
}

nav a {
    margin: 0 1em;
    color: #483d8b;
    text-decoration: none;
}

#main-content {
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    margin: 1em;
}

h2 {
    font-size: 1.2em;
    color: #ff4500;
    margin-bottom: 1em;
}

p {
    font-size: 1em;
    color: #483d8b;
    line-height: 1.5;
}

li {
    font-size: .9em;
    color: #483d8b;
    line-height: 1.2;
}

footer {
    padding: 1em;
    color: white;
    text-align: center;
}

.container {
    background: #ffffff;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: inherit;
    max-height: inherit;
    box-sizing: border-box;
}

.content {
    max-height: inherit;
    max-width: inherit;
}


.title {
    color: #ff4500;
    margin-bottom: 0.5em;
    text-shadow: 0.1em 0.1em 0.1em #aaa;
    font-size: 1.5em;
    text-align: center
}

.description,
.guesses-left,
.result-text {
    font-size: 0.8em;
    color: #483d8b;
    margin-bottom: 0.5em;
    text-align: center
}

.message {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.5em;
    color: #fff;
    padding: 0.5em;
    background-color: #32cd32;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
}

.input-area,
.keyboard-keys,
.feedback-container  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

/* Game Statistics */

.game-stats .title {
    text-align: left;
    font-size: 1em;
}

.game-stats .stat-item {
    display: flex;
    align-items: center;
    font-size: 0.8em
}

.stat-value {
    padding-left: .5em;
}

/* Game Statistics */

.guess-input {
    padding: 0.5em;
    border: 0.05em solid #ddd;
    border-radius: 0.5em;
    font-size: 0.8em;
    box-shadow: inset 0 0 0.2em rgba(0, 0, 0, 0.1);
    flex: 1;
}

/* Buttons */

.buttons {
    display: -webkit-inline-box;
}

.reset-button {
    padding: 0.5em 1em;
    margin: auto;
    color: white;
    border: none;
    font-size: .8em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #20b2aa;
    display: none;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.1);
}

.reset-button:hover {
    filter: brightness(0.9);
}

.clear-stats-button {
    padding: 0.5em 1em;
    margin: auto;
    color: white;
    border: none;
    font-size: .8em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #20b2aa;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.1);
}

.clear-stats-button:hover {
    filter: brightness(0.9);
}

.share-button {
    margin: auto;
    padding: 0.5em 1em;
    color: white;
    font-size: .8em;
    background-color: #4CAF50;  /* or any other color you like */
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    display: none;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.1);
}

/* Buttons */

.keyboard-button,
.circle {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #add8e6;
    border: 0.05em solid #ddd;
    margin: 0.2em;
    font-size: 0.8em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.1);
}

.keyboard-button:hover {
    transform: scale(1.1);
}

.green,
.keyboard-button.green {
    background-color: #32cd32;
    color: #fff;
}

.yellow,
.keyboard-button.yellow {
    background-color: #ffff00;
    color: #000;
}

.grey,
.keyboard-button.grey {
    background-color: #d3d3d3;
    color: #fff;
}

.keyboard-button:disabled {
    cursor: not-allowed;
    box-shadow: none;
}

.color-states {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5em;
    font-size: 0.8em;
}

.color-key span {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    margin-right: 0.5em;
    display: -webkit-inline-box;
}



@media (max-width: 375px) {
    /* Adjustments for 375x667 screen */
    
    .container .title {
        font-size: 1.5em;
    }

    .container .color-states {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.5em;
    }

    /* Main container */
    .container {
        padding: 0.4em;
        max-width: inherit;
        max-height: inherit;
    }
    
    /*   Buttons   */
    
    .buttons {
        font-size: .8em;
    }
    
    .scrollable-content {
    max-height: 50vh;  
    max-width: 80vw;
    overflow-y: auto;
    }
}

@media (max-width: 428px) and (max-height: 926px) {
    /* Adjustments for 414x896 screen */
    
    /* You can add your specific CSS adjustments for this screen size here. For now, I'm copying the adjustments from the 375x667 screen size as a starting point. You can further tweak it according to your needs. */

    /* Text size changes */
    .description,
    .guesses-left,
    .result-text {
        font-size: 0.7em;
    }
    .title {
        font-size: 1.3em;
    }

    .color-states {
        margin-top: auto;
        text-align: left;
        font-size: 0.7em;
    }

    .color-key span {
        width: 0.9em;
        height: 0.9em;
        border-radius: 50%;
    }

    /* Feedback and game-stats container */
    .feedback-container,
    .game-stats {
        width: 100%;
        font-size: 0.7em;
    }

    /* Main container */
    .container {
        padding: 0.5em;
        max-width: 100%;
        max-height: 100%;
    }

    /* Buttons and input fields */

    #resetButton,
    .guess-input {
        padding: 0.4em;
    }

    /* Number and circle buttons */
    .keyboard-button,
    .circle {
        width: 1.5em;
        height: 1.5em;
    }
}


/* Image */

.image {
/*     border-radius: 5px; */
/*     border: 0; */
/*     display: inline; */
/*     position: fixed; */
}

    .image img {
/*         border-radius: 5px; */
        display: flex;
    }

    .image.avatar {
/*         border-radius: 50%; */
/*         overflow: hidden; */
    }

        .image.avatar img {
/*             border-radius: 100%; */
/*             display: flex; */
            width: 10vw;
        }